//merging

$theme-colors: map-merge(
  (
    "orange": $orange,
    "light2": #f6f6f6,
  ),
  $theme-colors
);

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
  //for text color class
  @include text-emphasis-variant(".text-#{$color}", $value);

  //for alert
  .alert-#{$color} {
    background-color: rgba($value, 0.12);
    color: $value;
  }
}

// for scrollable
@mixin scrollable($thumb: $blue, $track: $gray-100) {
  overflow: auto;
  //padding-right: .5rem;

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $track;
    border-radius: 4px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba($thumb, 0.8);
    border-radius: 4px;
    // cursor: pointer;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $thumb;
    cursor: pointer;
  }
}
