.navbar {
    .nav {
        &-item:not(:last-child) {
            @include media-breakpoint-down(sm) {
                border-bottom: 1px solid $work;
            }
        }
        &-item {
            padding-left: 1.5rem;
            @include media-breakpoint-down(md) {
                padding-left: 0rem;
            }
        }
    }
    &-toggler {
        border: none;

        &:before {
            font-family: 'icomoon';
            content: '\e995';
            color: $white;
        }
        span {
            display: none;
        }
    }
}
