.darkMode {
    background-color: #121212;

    p,
    h1,
    h5 {
        color: $white;
    }
}

.lightMode {
    background-color: #fff;

    p,
    h1,
    h5 {
        color: #000;
    }
}

section,
header,
footer {
    margin-top: 8rem;

    @include media-breakpoint-down(md) {
        margin-top: 5rem;
    }
    @include media-breakpoint-down(xs) {
        margin-top: 4rem;
    }
}

header {
    @include media-breakpoint-down(xxs) {
        height: 85vh;
    }
    .intro {
        @include media-breakpoint-down(sm) {
            text-align: center;
        }

        .animate-text {
            span:before {
                content: '';
                transform: translateX(-50px);
                animation: animate 12s linear 1.5s infinite;
            }

            @keyframes animate {
                0% {
                    transform: translateY(-50px);
                    content: 'Ayush';
                }
                25% {
                    content: 'a Developer';
                }
                50% {
                    content: 'a Designer';
                }
                75% {
                    content: 'a Teacher';
                }
                100% {
                    content: 'a Learner';
                }
            }
        }
    }
    .padding__right {
        padding-right: 3rem;
        @include media-breakpoint-down(sm) {
            padding: 0 1rem;
        }
    }
    .d__reverse {
        @include media-breakpoint-down(sm) {
            flex-direction: column-reverse;
        }
    }
    .illustration {
        @include media-breakpoint-down(sm) {
            padding: 3rem;
            padding-top: 0;
        }
    }
}

.contact {
    .illustration2 {
        width: 100%;
        padding-right: 3rem;
        @include media-breakpoint-down(md) {
            padding-right: 0rem;
            margin-bottom: 4rem;
        }
    }

    .social {
        width: 1.75rem;
    }

    &--details {
        @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            p {
                text-align: center;
            }
        }
    }
}

.skill {
    &--more {
        @include media-breakpoint-down(sm) {
            margin-top: 3rem;
        }
    }
    .p__right {
        padding-right: 6rem;
        @include media-breakpoint-down(md) {
            padding-right: 0rem;
        }
    }
}
